{% extends "base.html.twig" %}

{% block title %}Ajouter un film{% endblock %}

{% block body %}

    <h1>Informations sur le film</h1>

    <table>
        <tr>
            <td>Nom du film</td>
            <td>{{ film.name }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ film.description }}</td>
        </tr>
        <tr>
            <td>Note</td>
            <td>{{ film.note }}</td>
        </tr>
        <tr>
            <td>Image</td>
            <td>
            {% if film.image == NULL %}
                <img width="300" src="https://cdn.pixabay.com/photo/2014/04/03/10/43/clapboard-311208_960_720.png" />
            {% else %}

                <img width="300" src={{ asset(film.image) }} />

            {% endif %}
            </td>
        </tr>
    </table>

    <div class="delete card">
        {{ form(form) }}

        {% if state == 1 %}
            <p class="error">Le mot de passe est incorrecte</p>
        {% endif %}
    </div>
    

{% endblock %}
